/* This file of CSS applyes to the index file */

#title{
    font-weight: bold;
    font-size: 300%;
    color: rgba(47, 47, 47, 1);
}

#trophy{
     position:relative;
     width: 10%;
     border-radius:50%;
}

a{
    margin-top:50%;
    font-family: 'Aboreto', sans-serif;
}

